.card {
  padding: 2.4rem 2rem;
  width: 500px;
  background-color: #20293a;
  border-radius: 20px;
  background-image: url('./assets/bg-image-random-quote.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
  .name {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
  }
  .tags {
    margin-top: 0.8rem;

    .tag {
      padding: 0.25rem 0.8rem;
      color: #6466e9;
      font-size: 0.625rem;
      border: 1px solid #6466e9;
      border-radius: 20px;
      font-weight: bold;
    }
  }
}

.quote {
  margin-top: 1.6rem;
  .text {
    font-size: 1.5rem;
    color: #97a3b6;
    background-color: transparent;
    border: none;
  }
}
