.container {
  background-color: white;
  color: black;
  position: fixed;
  top: 20px;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  transform: translateY(-500px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.container.show {
  transform: translateY(0);
}

.icon {
  width: 1rem;
  background-color: white;
  border-radius: 0.5em;
}
